{% extends 'school/homebase.html' %}
{% load static %}




{% block content %}
<br><br>


<center>

    <div class="jumbotron" style="margin-top: 0px;
    margin-bottom: 0px;">
        <h1 class="display-4">Hello {{request.user.first_name}}</h1>
        <p class="lead">Your Account is not approved till now <br><br>Our Team is checking your profile Soon
            your admission will be confirmed !!!</p>
        <p>Please Check Later</p>
        <p class="lead">
            <form method="POST" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-secondary btn-lg">Logout For Now</button>
            </form>
        </p>
    </div>
</center>
<br><br>
{% endblock content %}
